@font-face {
   font-family: "ChasingEmbersDemoVersion";
   src: url(customfont/ChasingEmbersDemoVersion.ttf);
}
@font-face {
   font-family: "Gloss_And_Bloom";
   src: url(customfont/Gloss_And_Bloom.ttf);
}
@font-face {
  font-family: "velocity";
  src: url(customfont/velocity.ttf);
}
@font-face {
  font-family: "CaviarDreams";
  src: url(customfont/CaviarDreams.ttf);
}

h2, h3{
  line-height: 20px;
}

h3 {
  line-height: 55px;
}

h2 {
  color: #FE8A37;
  font-size: 200px;
  text-shadow: 1px 5px 0 White
}

h3 {
  font-size: 48px;
  color: #73C6B6;
  text-shadow: 1px 1px 0 #D0ECE7;
  text-transform: lowercase;
  text
}

body {
  margin: 0;
  font-size: 28px;
}

p {
  font-family: Gloss_And_Bloom;
}

.header-image {
  background-image: url("header.jpg");

}
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  background-image: url("head1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

}

.icon-bar {
    width: 50px;
    background-image: linear-gradient(to top, #ffb47e, #ffacad, #fcb3dd, #d4c3f9, #add1fb);
    position: fixed;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: White;
    color: #FE8A37;
}

.active {
    background-color: #FE8A37;
}

#page-wrap {
  width: 600px;
  margin: 15px auto;
  position: relative;
}



h2 {
  font-size: 80px;
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
  font-family: "";
  src: url();
<<<<<<< HEAD
=======


>>>>>>> e951c495dd42f66ffd21f04e99acfec01087c4c6
  letter-spacing: .3rem;
}

h3 {
  font-size: 20px
  font-style: italic;
  text-transform: uppercase;
  font-family: "sans-serif",fantasy,monospace;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
